util_vmf.VC.db
.vs/util_vmf/v15/ipch/AutoPCH/d7d5e25b130e8351/VMF_PLANE.ipch
.vs/util_vmf/v15/ipch/AutoPCH/4eb2e10f9d604e/VMF_BRUSHMESH.ipch
.vs/util_vmf/v15/ipch/AutoPCH/46863ef919e4a6f0/VMF_POLY_MESH_BUILD.ipch
.vs/util_vmf/v15/ipch/AutoPCH/3fdb4bbb4e0fbe39/VMF_POLY.ipch
.vs/util_vmf/v15/ipch/AutoPCH/126c3b8f4de81217/UTIL_VMF.ipch
.vs/util_vmf/v15/Browse.VC.db
.vs/util_vmf/v15/ipch/AutoPCH/de73ad80bd503aa7/VMF_ENTITY_DATA.ipch
util_vmf/x64/Release/util_vmf.tlog/CL.write.1.tlog
util_vmf/x64/Release/util_vmf.tlog/CL.read.1.tlog
util_vmf/x64/Release/util_vmf.tlog/util_vmf.lastbuildstate
util_vmf/x64/Release/util_vmf.tlog/Lib.command.1.tlog
util_vmf/x64/Release/util_vmf.tlog/CL.command.1.tlog
util_vmf/x64/Release/util_vmf.tlog/Lib-link.write.1.tlog
util_vmf/x64/Release/util_vmf.tlog/Lib-link.read.1.tlog
build_winx64/
